# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Ambientes Virtuais
.venv/
.env
.venv
env/
venv/
env/
ENV/

# Configurações e Segredos
.env

# Banco de Dados (SQLite)
# Banco de dados local
*.db
*.sqlite3

# Testes e Cobertura
.pytest_cache/
.coverage
htmlcov/
test_db.db